@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body header {
  margin-top: 5px;
}

header div {
  padding: 20px;
}

small {
  padding: 12px;
  font-size: 20px;
  background-color: #fff;
  color: rgb(201, 73, 73);
  border: 2px solid blue;
  border-radius: 8px;
}

.content {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

label {
  font-size: 20px;
  margin: 20px;
}

#bill-amount {
  border: 2px solid black;
  border-radius: 2px;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
}

#cash {
  margin: 10px;
  margin-bottom: 0;
}

#cash-given {
  border: 2px solid black;
  border-radius: 2px;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
}

.btn {
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}

#message {
  font-size: 20px;
  color: red;
}

.return-change {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
}

#change {
  color: black;
}

.return-table {
  margin: 2px;
}

.return-table td,
th {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2px;
}

.no-of-notes {
  background-color: rgb(191, 195, 212);
}

.list-item-inline {
  display: inline-block;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-height: 20vh;
  text-align: center;
  border: 1px solid blACK;
  background-color: lightgreen;
  border: none;
  bottom: -60px;
  width: 100%;
  position: absolute
}

.list{
  padding-top:20px ;
  display: flex;
  gap: 46px;
  /* text-decoration: none; */
  list-style: none;
  font-weight: bold;
  
}
.list li a{
  text-decoration:none;
  color:black;
}
.list li:hover {
  font-weight: bold;
  display: block;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
